@using K6.UI.Enums
@using K6.UI.Forms
@using K6.UI.Helpers

<Button Variant="Variant" Color="Color" Size="Size" Disabled="Disabled" OnClick="HandleOnClick" Class="@GetClass()" aria-expanded="@Dropdown.IsOpen">
    @ChildContent
</Button>

@code
{

    /// <summary>
    /// Dropdown component.
    /// </summary>
    [CascadingParameter]
    public required Dropdown Dropdown { get; set; }

    /// <summary>
    /// Variant of the button - Solid, Outline, Link.
    /// </summary>
    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Solid;

    [Parameter] public Color? Color { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public Scale? Size { get; set; }

    [Parameter] public bool Disabled { get; set; }

    [Parameter] public string? Class { get; set; }

    private string GetClass()
    {
        return ClassHelper.Combine(
            "dropdown-toggle",
            Class
        );
    }

    private void HandleOnClick()
    {
        Dropdown.Toggle();
    }
}