<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="github-richardblaha" value="https://nuget.pkg.github.com/richardblaha/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-richardblaha>
            <add key="Username" value="richardblaha" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-richardblaha>
    </packageSourceCredentials>
</configuration>