@using K6.UI.Enums
@using K6.UI.Extensions
@using K6.UI.Helpers

<div class="@GetClass()" role="group" aria-label="@Label">
    @ChildContent
</div>

@code {

    [Parameter] public string? Label { get; set; }
    [Parameter] public ButtonGroupType Type { get; set; } = ButtonGroupType.Group;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string GetClass()
    {
        return ClassHelper.Combine(
            "btn-group",
            Type.ToClass()
        );
    }

}
