@using K6.UI.Content

@if (!string.IsNullOrWhiteSpace(ImageSource))
{
    <Image Source="@ImageSource" Label="@ImageLabel" class="card-img-top"/>
}
<div class="card-header">
    @ChildContent
</div>

@code {

    [Parameter] public string? ImageSource { get; set; }
    [Parameter] public string? ImageLabel { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

}