@using K6.UI.Content

<div class="card-footer">
    @ChildContent
</div>
@if (!string.IsNullOrWhiteSpace(ImageSource))
{
    <Image Source="@ImageSource" Label="@ImageLabel" class="card-img-bottom"/>
}

@code {

    [Parameter] public string? ImageSource { get; set; }
    [Parameter] public string? ImageLabel { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

}